backcall==0.1.0
Cartopy==0.17.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
Cython==0.29.2
decorator==4.3.0
geographiclib==1.49
geopy==1.18.1
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.22.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.0
pyshp==2.0.1
python-dateutil==2.7.5
pyzmq==17.1.2
requests==2.21.0
scipy==1.2.0
Shapely==1.6.4.post2
six==1.11.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
